[submodule "third_party/JoltPhysics"]
	path = third_party/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "third_party/fastgltf"]
	path = third_party/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/cglm"]
	path = third_party/cglm
	url = https://github.com/recp/cglm.git
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/stduuid"]
	path = third_party/stduuid
	url = https://github.com/mariusbancila/stduuid.git
